* 
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Times New Roman';
    line-height: 1.6;
    background-color: #fff;
    color: #333;
  }
  
  .header {
    background-color: #f3e1c7 ;
    color: #333;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav a {
    color: #333;
    margin-left: 1rem;
    text-decoration: none;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  
  .hero {
    background: url('background.jpg') center/cover no-repeat;
    padding: 10rem 5rem;
    position: relative;
    color: #333;
    text-align: center;
  }
  
  .hero-overlay {
    background-color: #f3e1c785;
    padding: 2rem;
    border-radius: 15px;
    display: inline-block;
    max-width: 700px;
    margin: 0 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .hero-overlay:hover {
    transform: scale(1.03);
    box-shadow: 0 0 25px #f3e1c7;
  }
  
  
  .hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }
  
  
  .btn {
    background-color: #F1E8DC;
    color: #333;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #a5a29f;
  }
  
  .produk {
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .produk h3 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  
  .produk-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  
  .produk-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .produk-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  }
  
  .produk-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .produk-item h4 {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  
  .footer {
    background-color: #F1E8DC;
    color: #333;
    text-align: center;
    padding: 1rem;
  }
  